<div class="container">
	<div class="row pt-3 justify-content-right" *ngIf="!selectedUser">
		<div class="col-12">
			<app-filter [searchConditions]="searchConditions" [filter]="actualFilter" (filterEmitter)="searchUsers($event)"></app-filter>
		</div>
	</div>
	<div class="row pt-3 justify-content-center" *ngIf="!selectedUser">
		<div class="col-12">
			<table class="table table-hover transactions-table">
				<thead>
					<th>Nombre</th>
					<th>Apellido</th>
					<th>Email</th>
					<th class="text-center">Editar</th>
				</thead>
				<tbody>
					<tr *ngFor="let user of users">
						<td>{{user.firstName}}</td>
						<td>{{user.lastName}}</td>
						<td>{{user.email}}</td>						
						<td class="text-center"><i (click)="edit(user)" class="fa fa-pencil fa-clickeable-mc" aria-hidden="true"></i></td>
					</tr>
				</tbody>
			</table>
		</div>		
	</div>
	<!--
	<div class="row justify-content-right" *ngIf="!selectedUser">
		<div class="col-12">
			<app-pagination [hasMore]="hasMore" [page]="page" (changePageEmitter)="updatePage($event)"></app-pagination>
		</div>
	</div>
	-->
	<!-- Detalle -->
	<div class="row pt-3 pb-3" *ngIf="selectedUser">
		<div class="col-12">
			<h3>Edición de Usuario</h3>
		</div>
		<!--
		<app-error-message *ngIf="errorMessage" [message]="errorMessage"></app-error-message>
		-->
		<form #userForm="ngForm" class="col-12">
			<div class="row">
				<div class="col-6">
				    <div class="form-group">
				      <label for="name">Nombre</label>
				      <input type="text" class="form-control" [(ngModel)]="selectedUser.firstName" name="name"
				      #name="ngModel" [ngClass]="{'has-error' : !name.valid && name.touched}" maxlength="50" required>
				    </div>
				</div>
				<div class="col-6">
				    <div class="form-group">
				      <label for="lastName">Apellido</label>
				      <input type="text" class="form-control" [(ngModel)]="selectedUser.lastName" name="lastName"
				      #lastName="ngModel" [ngClass]="{'has-error' : !lastName.valid && lastName.touched}" maxlength="30" required>
				    </div>
				</div>
			</div>
			<div class="row">
				<div class="col-4">
				    <div class="form-group">
				      <label for="email">Email</label>
				      <input type="text" class="form-control" [(ngModel)]="selectedUser.email" name="email" 
				      #email="ngModel" [ngClass]="{'has-error' : !email.valid && email.touched}" maxlength="50" 
				      pattern="^(([^<>()\[\]\\.,;:\s@]+(\.[^<>()\[\]\\.,;:\s@]+)*)|(.+))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$" required>
				    </div>				
				</div>			
			</div>
			<div class="row">
				<div class="col-12">
			      <button type="button" (click)="back()" class="btn">Volver</button>
			      <button type="submit" (click)="save()" class="btn" [disabled]="!userForm.valid">Guardar</button>
				</div>
			</div>
		</form>
		<!-- Modal para cuando se presiona el boton volver -->
		<app-modal type="okCancel" [show]="backButtonPressedModal" title="Edición de Usuario" content="Esta seguro que desea salir?" (eventEmitter)="handleBackButton($event)"></app-modal>
		<!-- Modal para cuando se presiona el boton guardar -->
		<app-modal type="okCancel" [show]="saveButtonPressedModal" title="Edición de Usuario" content="Esta seguro que desea actualizar los datos?" (eventEmitter)="handleSaveButton($event)"></app-modal>
	</div>
</div>
