<div class="container">
	<div class="row pt-3 justify-content-right" *ngIf="!selectedDelivery">
		<div class="col-12">
			<app-filter [searchConditions]="searchConditions" [filter]="actualFilter" (filterEmitter)="searchDeliveries($event)"></app-filter>
		</div>
	</div>
	<div class="row pt-3 justify-content-center" *ngIf="!selectedDelivery">
		<div class="col-12">
			<table class="table table-hover delivery-table">
				<thead>
					<th>Nombre</th>
					<th>Direcci&oacute;n</th>
					<th>Tel&eacute;fono</th>
					<th class="text-center"></th>
				</thead>
				<tbody>
					<tr *ngFor="let delivery of deliveries">				
						<td>{{delivery.name}}</td>			
						<td>{{delivery.address}}</td>				
						<td>{{delivery.phoneNumber}}</td>				
						<td class="text-center">
							<button class="btn btn-primary" (click)="edit(delivery)"><i class="fa fa-pencil" aria-hidden="true"></i> </button>
							<button class="btn btn-danger" (click)="delete(delivery)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
						</td>					
					</tr>
				</tbody>
			</table>
		</div>		
	</div>

	<!-- Modal para CRUD de Deliveries -->
	<app-modal type="crudDelivery" [show]="selectedDelivery" title="Edición de Comercio" content="" (eventEmitter)="handleBackButton($event)"></app-modal>

</div>
