<div class="container">
	<div class="row pt-3 justify-content-right">
		<div class="col-12">
			<app-filter [searchConditions]="searchConditions" [filter]="actualFilter" (filterEmitter)="searchDeliveries($event)"></app-filter>
		</div>
	</div>
	<div class="row pt-3 justify-content-center">
		<div class="col-12">
			<table class="table table-hover delivery-table">
				<thead>
					<th>Id</th>
					<th>Nombre</th>
					<th>Descripci&oacute;n</th>
					<th>Especialidad</th>
					<th>Direcci&oacute;n</th>
					<th>Horario</th>
					<th>Tel&eacute;fono</th>
					<th>Contacto Administrativo</th>
					<th>Contacto Comercial</th>
					<th class="text-center">Editar</th>
					<th class="text-center">Eliminar</th>
				</thead>
				<tbody>
					<tr *ngFor="let delivery of deliveries">
						<td>{{delivery.id}}</td>
						<td>{{delivery.name}}</td>
						<td>{{delivery.description}}</td>
						<td>{{delivery.specialities}}</td>
						<td>{{delivery.address}}</td>
						<td>{{delivery.openingTime}} a {{delivery.closingTime}}</td>
						<td>{{delivery.phoneNumber}}</td>
						<td>{{delivery.admContact.name}} {{delivery.admContact.lastName}}</td>
						<td>{{delivery.commercialContact.name}} {{delivery.commercialContact.lastName}}</td>
						<td class="text-center"><i (click)="edit(delivery)" class="fa fa-pencil" aria-hidden="true"></i></td>
						<td class="text-center"><i (click)="delete(delivery)" class="fa fa-trash-o" aria-hidden="true"></i></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<!-- Modal para CRUD de Deliveries -->
	<app-delivery-crud [show]="selectedDelivery" title="Edición de Comercio" content="" (eventEmitter)="handleAction($event)"></app-delivery-crud>

	<!-- Modal para cuando se presiona el boton eliminar -->
	<app-modal type="okCancel" [show]="deleteButtonPressedModal" title="Baja de Comercio" content="Esta seguro que desea eliminar el comercio?" (eventEmitter)="handleDeleteButton($event)"></app-modal>

</div>
