<div class="modal fade" bsModal #crudDelivery="bs-modal" [config]="{backdrop: 'static'}" tabindex="-3" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{{title}}</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form" #deliveryForm="ngForm" *ngIf="model">
          <div class="row">
            <div class="col-md-6 mb-4">
              <legend>Datos administrativos</legend>
              <div class="control-group">
                <label for="concept" class="control-label">Nombre</label>
                <div class="controls">
                  <input type="text" class="form-control" [(ngModel)]="model.name" #name="ngModel" name="name"
                    [ngClass]="{'has-error' : !name.valid && name.touched}" maxlength="50" required>
                </div>
              </div>
              <div class="control-group">
                <label for="concept" class="control-label">Tel&eacute;fono</label>
                <div class="controls">
                  <input type="text" class="form-control" [(ngModel)]="model.phoneNumber" #telephoneNumber="ngModel" name="telephoneNumber">
                </div>
              </div>
              <div class="control-group">
                <label for="concept" class="control-label">Descripci&oacute;n</label>
                <div class="controls">
                  <textarea class="form-control" [(ngModel)]="model.description" #description="ngModel" name="description"></textarea>
                </div>
              </div>
              <div class="control-group">
                <label for="concept" class="control-label">Especialidades</label>
                <div class="controls">
                  <textarea class="form-control" [(ngModel)]="model.specialities" #specialities="ngModel" name="specialities"></textarea>
                </div>
              </div>
              <div class="control-group">
                <label for="concept" class="control-label">Direccion</label>
                <div class="controls">
                  <input type="text" class="form-control" [(ngModel)]="model.address" #address="ngModel" name="address">
                </div>
              </div>
              <br>
              <div class="control-group">
                <label for="concept" class="control-label">Horario desde</label>
                <div class="d-inline-block">
                  <input type="time" class="form-control" value="" [(ngModel)]="model.openingTime" #openingTime="ngModel" name="openingTime">
                </div>
                <label for="concept" class="control-label">hasta</label>
                <div class="d-inline-block">
                  <input type="time" class="form-control" value="" [(ngModel)]="model.closingTime" #closingTime="ngModel" name="closingTime">
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 mb-4">
              <legend>Contacto comercial</legend>
              <div class="control-group">
                <label for="concept" class="control-label">Nombre</label>
                <div class="controls">
                  <input type="text" class="form-control" [(ngModel)]="model.admContact.name" #admContactName="ngModel" name="admContactName">
                </div>
                </div>
                <div class="control-group">
                  <label for="concept" class="control-label">Apellido</label>
                  <div class="controls">
                    <input type="text" class="form-control" [(ngModel)]="model.admContact.lastName" #admContactLastName="ngModel" name="admContactLastName">
                  </div>
                </div>
                <div class="control-group">
                  <label for="concept" class="control-label">Telefono</label>
                  <div class="controls">
                    <input type="text" class="form-control" [(ngModel)]="model.admContact.phoneNumber" #admContactTelephoneNumber="ngModel" name="admContactTelephoneNumber">
                  </div>
                </div>
                <div class="control-group">
                  <label for="concept" class="control-label">Mail</label>
                  <div class="controls">
                    <input type="text" class="form-control" [(ngModel)]="model.admContact.email" #admContactEmail="ngModel" name="admContactEmail"
                      [ngClass]="{'has-error' : !admContactEmail.valid && admContactEmail.touched}" maxlength="50"
                      pattern="^(([^<>()\[\]\\.,;:\s@]+(\.[^<>()\[\]\\.,;:\s@]+)*)|(.+))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$" required>
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-4">
                <legend>Contacto comercial</legend>
                <div class="control-group">
                  <label for="concept" class="control-label"><input type="checkbox">Idem contacto administrativo</label>
                </div>
                <div class="control-group">
                  <label for="concept" class="control-label">Nombre</label>
                        <div class="controls">
                          <input type="text" class="form-control" [(ngModel)]="model.commercialContact.name" #commercialContactName="ngModel" name="commercialContactName">
                      </div>
                </div>
                <div class="control-group">
                  <label for="concept" class="control-label">Apellido</label>
                  <div class="controls">
                    <input type="text" class="form-control" [(ngModel)]="model.commercialContact.lastName" #commercialContactLastName="ngModel" name="commercialContactLastName">
                  </div>
                </div>
                <div class="control-group">
                  <label for="concept" class="control-label">Telefono</label>
                  <div class="controls">
                    <input type="text" class="form-control" [(ngModel)]="model.commercialContact.phoneNumber" #commercialContactTelephoneNumber="ngModel" name="commercialContactTelephoneNumber">
                  </div>
                </div>
                <div class="control-group">
                  <label for="concept" class="control-label">Mail</label>
                  <div class="controls">
                    <input type="text" class="form-control" [(ngModel)]="model.commercialContact.email" #commercialContactEmail="ngModel" name="commercialContactEmail"
                    [ngClass]="{'has-error' : !model.commercialContact.email.valid && model.commercialContact.email.touched}" maxlength="50"
                    pattern="^(([^<>()\[\]\\.,;:\s@]+(\.[^<>()\[\]\\.,;:\s@]+)*)|(.+))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$" required>
                  </div>
                </div>
              </div>
            </div>
      </form>
      <!-- Modal para cuando se presiona el boton volver -->
  		<app-modal type="okCancel" [show]="backButtonPressedModal" title="Edición de Comercio" content="Esta seguro que desea salir?" (eventEmitter)="handleBackButton($event)"></app-modal>

  		<!-- Modal para cuando se presiona el boton guardar -->
  		<app-modal type="okCancel" [show]="saveButtonPressedModal" title="Edición de Comercio" content="Esta seguro que desea actualizar los datos?" (eventEmitter)="handleSaveButton($event)"></app-modal>
    </div>

    <div class="modal-footer">
      <button type="button" (click)="cancel()" data-dismiss="okCancelModal" class="btn">Cancelar</button>
      <button type="button" (click)="confirm()" class="btn">Guardar</button>
    </div>
  </div>
</div>

<input type="hidden" name="show" [ngModel]="show">
