.has-error {
  border: 2px solid #a94442 !important; /* red */
}

.form-inline label {
	justify-content: unset !important;
}

legend {
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}

#timeRow {
	padding-bottom: 20px;
}