<div class="modal fade" bsModal #crudDelivery="bs-modal" [config]="{backdrop: 'static'}" tabindex="-3" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{{title}}</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form" #deliveryForm="ngForm">
          <div class="row">
            <div class="col-md-6 mb-4">
              <legend>Datos administrativos</legend>
              <div class="control-group">
                <label for="concept" class="control-label">Nombre</label>
                <div class="controls">
                  <input type="text" class="form-control" id="name" [(ngModel)]="model.name" #name="ngModel" name="name">
                </div>
              </div>
              <div class="control-group">
                <label for="concept" class="control-label">Tel&eacute;fono</label>
                <div class="controls">
                  <input type="text" class="form-control" id="telephoneNumber" [(ngModel)]="model.phoneNumber" #name="ngModel" name="telephoneNumber">
                </div>
              </div>
              <div class="control-group">
                <label for="concept" class="control-label">Descripci&oacute;n</label>
                <div class="controls">
                  <textarea class="form-control" id="description" name="description"></textarea>
                </div>
              </div>
              <div class="control-group">
                <label for="concept" class="control-label">Especialidades</label>
                <div class="controls">
                  <textarea class="form-control" id="specialities" name="specialities"></textarea>
                </div>
              </div>
              <div class="control-group">
                <label for="concept" class="control-label">Direccion</label>
                <div class="controls">
                  <input type="text" class="form-control" id="address" name="address">
                </div>
              </div>
              <br>
              <div class="control-group">
                <label for="concept" class="control-label">Horario desde</label>
                <div class="d-inline-block">
                  <input type="time" class="form-control" value="" id="openingTime" name="openingTime">
                </div>
                <label for="concept" class="control-label">hasta</label>
                <div class="d-inline-block">
                  <input type="time" class="form-control" value="" id="closingTime" name="closingTime">
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 mb-4">
              <legend>Contacto comercial</legend>
              <div class="control-group">
                <label for="concept" class="control-label">Nombre</label>
                <div class="controls">
                  <input type="text" class="form-control" id="name" name="name">
                </div>
                </div>
                <div class="control-group">
                  <label for="concept" class="control-label">Apellido</label>
                  <div class="controls">
                    <input type="text" class="form-control" id="lastName" name="las">
                  </div>
                </div>
                <div class="control-group">
                  <label for="concept" class="control-label">Telefono</label>
                  <div class="controls">
                    <input type="text" class="form-control" id="telephoneNumber" name="telephoneNumber">
                  </div>
                </div>
                <div class="control-group">
                  <label for="concept" class="control-label">Mail</label>
                  <div class="controls">
                    <input type="text" class="form-control" id="email" name="email">
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-4">
                <legend>Contacto comercial</legend>
                <div class="control-group">
                  <label for="concept" class="control-label"><input type="checkbox">Idem contacto administrativo</label>
                </div>
                <div class="control-group">
                  <label for="concept" class="control-label">Nombre</label>
                        <div class="controls">
                          <input type="text" class="form-control" id="name" name="name">
                      </div>
                </div>
                <div class="control-group">
                  <label for="concept" class="control-label">Apellido</label>
                  <div class="controls">
                    <input type="text" class="form-control" id="lastName" name="las">
                  </div>
                </div>
                <div class="control-group">
                  <label for="concept" class="control-label">Telefono</label>
                  <div class="controls">
                    <input type="text" class="form-control" id="telephoneNumber" name="telephoneNumber">
                  </div>
                </div>
                <div class="control-group">
                  <label for="concept" class="control-label">Mail</label>
                  <div class="controls">
                    <input type="text" class="form-control" id="email" name="email">
                  </div>
                </div>
              </div>
            </div>
      </form>
      <!-- Modal para cuando se presiona el boton volver -->
  		<app-modal type="okCancel" [show]="backButtonPressedModal" title="Edición de Comercio" content="Esta seguro que desea salir?" (eventEmitter)="handleBackButton($event)"></app-modal>

  		<!-- Modal para cuando se presiona el boton guardar -->
  		<app-modal type="okCancel" [show]="saveButtonPressedModal" title="Edición de Comercio" content="Esta seguro que desea actualizar los datos?" (eventEmitter)="handleSaveButton($event)"></app-modal>
    </div>

    <div class="modal-footer">
      <button type="button" (click)="cancel()" data-dismiss="okCancelModal" class="btn">Cancelar</button>
      <button type="button" (click)="confirm()" class="btn">Guardar</button>
    </div>
  </div>
</div>

<input type="hidden" name="show" [ngModel]="show">
