  <!-- (OK only) Modal -->
  <div class="modal fade" bsModal #okOnly="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">{{title}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
          </button>
          
        </div>
        <div class="modal-body">
          {{content}}
        </div>
        <div class="modal-footer">
          <button type="button" (click)="close()" class="btn">Aceptar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- (OK|CANCEL) Modal -->
  <div class="modal fade" bsModal #okCancel="bs-modal" [config]="{backdrop: 'static'}" tabindex="-2" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">{{title}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
          </button>
          
        </div>
        <div class="modal-body">
          {{content}}
        </div>
        <div class="modal-footer">
          <button type="button" (click)="cancel()" data-dismiss="okCancelModal" class="btn">Cancelar</button>
          <button type="button" (click)="confirm()" class="btn">Aceptar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- (CRUD Delivery) -->
  <div class="modal fade" bsModal #crudDelivery="bs-modal" [config]="{backdrop: 'static'}" tabindex="-3" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">{{title}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
          </button>
          
        </div>      
        <div class="modal-body">
          <form class="form-horizontal" role="form">
            <div class="row">
              <div class="col-sm">
                <legend>Datos administrativos ajdhajsdh</legend>    
                <div class="control-group">
                  <label for="name" class="control-label">Nombre</label>
                  <div class="d-inline-block">
                    <input type="text" class="form-control" id="name" name="name">
                  </div>
                </div>
                <div class="control-group">
                  <div class="d-inline-block">
                    <label for="telephoneNumber" class="control-label">Tel&eacute;fono</label>
                  </div>
                  <div class="d-inline-block">
                    <input type="text" class="form-control" id="telephoneNumber" name="telephoneNumber">
                  </div>
                </div>      
                <div class="control-group">
                  <label for="description" class="control-label">Descripci&oacute;n</label>
                  <div class="d-inline-block">
                    <textarea class="form-control" id="description" name="description"></textarea>
                  </div>
                </div>
                <div class="control-group">
                  <label for="specialities" class="control-label">Especialidades</label>
                  <div class="d-inline-block">
                    <textarea class="form-control" id="specialities" name="specialities"></textarea>
                  </div>
                </div>
                <div class="control-group">
                  <label for="address" class="control-label">Direccion</label>
                  <div class="d-inline-block">
                    <input type="text" class="form-control" id="address" name="address">
                  </div>
                </div>  
                <br>
                <div class="control-group">
                  <label for="openingTime" class="control-label">Horario desde</label>
                  <div class="d-inline-block">
                    <input type="time" class="form-control" value="" id="openingTime" name="openingTime">
                  </div>
                  <label for="closingTime" class="control-label">hasta</label>
                  <div class="d-inline-block">
                    <input type="time" class="form-control" value="" id="closingTime" name="closingTime">
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm">
                <legend>Contacto comercial</legend>
                <div class="control-group">
                  <label for="concept" class="control-label">Nombre</label>
                  <div class="controls">
                    <input type="text" class="form-control" id="name" name="name">
                  </div>
                  </div>
                  <div class="control-group">
                    <label for="concept" class="control-label">Apellido</label>
                    <div class="controls">
                      <input type="text" class="form-control" id="lastName" name="las">
                    </div>
                  </div>
                  <div class="control-group">
                    <label for="concept" class="control-label">Telefono</label>
                    <div class="controls">
                      <input type="text" class="form-control" id="telephoneNumber" name="telephoneNumber">
                    </div>
                  </div>
                  <div class="control-group">
                    <label for="concept" class="control-label">Mail</label>
                    <div class="controls">
                      <input type="text" class="form-control" id="email" name="email">
                    </div>
                  </div>  
                </div>
                <div class="col-sm">
                  <legend>Contacto comercial</legend>
                  <div class="control-group">
                    <label for="concept" class="control-label"><input type="checkbox">Idem contacto administrativo</label>
                  </div>
                  <div class="control-group">
                    <label for="concept" class="control-label">Nombre</label>
                          <div class="controls">
                            <input type="text" class="form-control" id="name" name="name">
                        </div>
                  </div>
                  <div class="control-group">
                    <label for="concept" class="control-label">Apellido</label>
                    <div class="controls">
                      <input type="text" class="form-control" id="lastName" name="las">
                    </div>
                  </div>
                  <div class="control-group">
                    <label for="concept" class="control-label">Telefono</label>
                    <div class="controls">
                      <input type="text" class="form-control" id="telephoneNumber" name="telephoneNumber">
                    </div>
                  </div>
                  <div class="control-group">
                    <label for="concept" class="control-label">Mail</label>
                    <div class="controls">
                      <input type="text" class="form-control" id="email" name="email">
                    </div>
                  </div>
                </div>
              </div>
        </form>
      </div>
    </div>    
  </div>

  <input type="hidden" name="show" [ngModel]="show">